#main {
    /* position: relative; */
    width: 90%;
    height: 40vh;
    background-color: beige;
    text-align: center;
}

.extraitems {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    grid-gap: 10px;
}

.item {
    /* width: 90%;
    margin-top: 30px; */
    background-color: lightgray;
    text-align: center;
    padding: 10px;
}

footer {
    background-color: beige;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
    padding: 10px;
}
